<a href="https://colab.research.google.com/github/RajuMopidevi/Machine-Learning-and-Artificial-Intelligence/blob/main/05-02_SyntacticProcessing/SyntacticProcessing_Summary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm

In [2]:
import spacy 
nlp = spacy.load("en_core_web_sm")

In [3]:
import urllib.request
urllib.request.urlretrieve("https://raw.githubusercontent.com/RajuMopidevi/Machine-Learning-and-Artificial-Intelligence/main/05-02_SyntacticProcessing/tagged_words.csv", "tagged_words.csv")

('tagged_words.csv', <http.client.HTTPMessage at 0x7f16bd171fa0>)

In [4]:
df=pd.read_csv("tagged_words.csv")

In [5]:
df.head()

     word   tag
0     the   DET
1  fulton  NOUN
2  county  NOUN
3   grand   ADJ
4    jury  NOUN

In [6]:
df[df['word']=='saw'].value_counts()

word  tag
saw   VERB    347
      NOUN      5
dtype: int64

In [7]:
data = pd.read_csv("tagged_words.csv")
sent = "I saw him running away"

def get_common_tag(data,word):
    if word.lower() in data['word'].unique():
        q = f"word=='{word.lower()}'"
        return word , data.query(q)['tag'].value_counts().head(1).index.tolist()[0]
    else:
        return f"{word} not in data"

for word in sent.split(" "):
    print(get_common_tag(data,word))
 
data.query("word=='saw'")['tag'].value_counts()

('I', 'PRON')
('saw', 'VERB')
('him', 'PRON')
('running', 'VERB')
('away', 'ADV')

VERB    347
NOUN      5
Name: tag, dtype: int64

In [8]:
sent="He wished he was rich"
for word in sent.split(" "):
    print(get_common_tag(data,word))
 
data.query("word=='He'")['tag'].value_counts()

('He', 'PRON')
('wished', 'VERB')
('he', 'PRON')
('was', 'VERB')
('rich', 'ADJ')

Series([], Name: tag, dtype: int64)

In [39]:
s=pd.crosstab(data.word,data.tag,normalize='columns')

In [16]:
s.head()

tag        ADJ  ADP  ADV  CONJ  DET  NOUN  NUM  PRON  PRT  VERB    X
word
!          1.0  0.0  0.0   0.0  0.0   0.0  0.0   0.0  0.0   0.0  0.0
$.027      0.0  0.0  0.0   0.0  0.0   1.0  0.0   0.0  0.0   0.0  0.0
$.03       0.0  0.0  0.0   0.0  0.0   1.0  0.0   0.0  0.0   0.0  0.0
$.054/mbf  0.0  0.0  0.0   0.0  0.0   1.0  0.0   0.0  0.0   0.0  0.0
$.07       0.0  0.0  0.0   0.0  0.0   1.0  0.0   0.0  0.0   0.0  0.0

In [40]:
s.query("word=='his'")

tag   ADJ  ADP  ADV  CONJ       DET  NOUN  NUM     PRON  PRT  VERB         X
word
his   0.0  0.0  0.0   0.0  0.050774   0.0  0.0  0.00075  0.0   0.0  0.001443

In [42]:
s.sum().round(3)

tag
ADJ     1.0
ADP     1.0
ADV     1.0
CONJ    1.0
DET     1.0
NOUN    1.0
NUM     1.0
PRON    1.0
PRT     1.0
VERB    1.0
X       1.0
dtype: float64

In [43]:
data.query("word=='his'")['tag'].value_counts()

DET     6957
PRON      37
X          2
Name: tag, dtype: int64

In [44]:
df.query("word=='his'").value_counts()

word  tag
his   DET     6957
      PRON      37
      X          2
dtype: int64

In [45]:
df.query("tag=='PRON'")

          word   tag
143         it  PRON
164         it  PRON
185       them  PRON
200       them  PRON
209         it  PRON
...        ...   ...
1161070  yours  PRON
1161090      i  PRON
1161115    she  PRON
1161134   that  PRON
1161170      i  PRON

[49334 rows x 2 columns]

In [51]:
df.query("tag=='PRON' and word=='his'").shape

(37, 2)

In [38]:
df.shape

(1161192, 2)

In [52]:
import pandas as pd
data = pd.read_csv("tagged_words.csv")
emmission_matrix = pd.crosstab(data['word'],data['tag'],normalize='columns')

word = 'his'
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)
emmission_matrix['PRON'].loc['his'].round(3)

0.001

In [53]:
emmission_matrix.loc[word][emmission_matrix.loc[word]>0].round(3)

tag
DET     0.051
PRON    0.001
X       0.001
Name: his, dtype: float64

In [55]:
df.info

<bound method DataFrame.info of                word   tag
0               the   DET
1            fulton  NOUN
2            county  NOUN
3             grand   ADJ
4              jury  NOUN
...             ...   ...
1161187      boucle  NOUN
1161188       dress  NOUN
1161189         was  VERB
1161190  stupefying  VERB
1161191           !   ADJ

[1161192 rows x 2 columns]>

In [63]:
#df.word.loc[df.word.str.match('[^a-zA-Z]')]
df.word.loc[df.word.str.contains('[^a-zA-Z]',na=False)].value_counts()
#df.loc[df.a.str.contains("foo", na=False)]

!                   147565
mr.                    844
mrs.                   534
1                      527
don't                  489
                     ...
role-experiment          1
norris-laguardia         1
three-front              1
work-paralysis           1
coral-colored            1
Name: word, Length: 9574, dtype: int64

In [ ]:
#s=s.reindex(index=df.stack().unique(),fill_value=0).reindex(columns=df.stack().unique(),fill_value=0)